* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    border: 1px solid rgb(240, 239, 239);
    padding: 5px;
    background-color: aliceblue;
}
nav ul {
    display: flex;
    font-size: 1.5rem;
    list-style: none;
}
nav ul li {
    padding: 23px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(45, 39, 39);
    margin-left: 20px;
}
nav ul li a:hover {
    text-decoration: underline;
}
header {
    display: flex;
    padding: 50px;
    margin: auto;
    margin-left: 70px;
    padding: 40px;
}
header section {
    width: 60%;
    height: 60vh;

}
.card_01 {
    width: 100%;
    height: 100%;
    box-shadow: rgba(119, 119, 155, 0.2) 0px 7px 29px 0px;
    border-radius: 3px;
}
section p {
    padding-top: 30px;
    color: rgb(49, 44, 44);
}
header main {
    width: 40%;
    height: 80vh;
    margin-bottom: 30px;
}
.card_02 {
    width: 25px;
    height: 15px;
    padding: 15vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 60px;
    margin-top: 15px;
    border-radius: 5px;
}
.card_03 {
    width: 25px;
    height: 15px;
    padding: 15vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 60px;
    margin-top: 15px;
    border-radius: 5px;
}
.card_04 {
    width: 25px;
    height: 15px;
    padding: 15vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 60px;
    margin-top: 15px;
    border-radius: 5px;
}